<!DOCTYPE html>
<html>

<body>

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form>
            <p>Please select your Exam:</p>
            <input type="radio" id="1stTest" name="option" value="1stTest">
            <label for="1stTest">1stTest</label><br>
            <input type="radio" id="2ndTest" name="option" value="2ndTest">
            <label for="2ndTest">2ndTest</label><br>
            <input type="radio" id="HalfYearly" name="option" value="HalfYearly">
            <label for="HalfYearly">HalfYearly</label><br>
            <input type="radio" id="Annual" name="option" value="Annual">
            <label for="Annual">Annual</label>

            <br>


            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>